body{
font-size: 14px;
color: #5c5c5c;

}
body.i18n-mk{
font-size: 12px;
color: #5c5c5c;
}
.branding-data{
    display: inline-block;
    float:left;
}
#block-locale-language{
    display: inline-block;
    float:right;
}

/* main menu */
#block-system-main-menu{
    display: inline-block;
    float:center;
    width: 100%;
    margin-right: 0px;
    margin-top: -8px;
    margin-bottom: 12px;
    
}
#block-system-main-menu ul.menu {
    text-align: center;
}
#block-system-main-menu li{
    display: inline-block;
}
#block-system-main-menu li a,
.menu-block-wrapper a{
    text-decoration: none;
    color: #5C5C5C;
}
.i18n-mk #block-system-main-menu li a{
}
#block-system-main-menu li a.active,
.menu-block-wrapper a.active,
#block-system-main-menu li a:hover,
.menu-block-wrapper a:hover{
    color: #800100;
}
#block-system-main-menu .expanded ul{
    display:none;
}
.menu-block-wrapper .menu li{
   margin-left: 4px;
   float: left;
}
#breadcrumb{
    display:none;
}
/* main menu end */

/**language*/
#block-locale-language{
    margin-top: 11px;
}
#block-locale-language li{
    display: inline-block;
    float:right;
    margin-left: 5px;
}
#block-locale-language li a{
    background-repeat: no-repeat;
    font-size:0px;
    text-decoration: none;

}
#block-locale-language li a:before{
    background-image: url("../images/en_GB.png");
    background-repeat: no-repeat;
    color: transparent;
    content: "tes";
    height: 20px;
    width: 20px;
    font-size:12px;
    background-position: center;
    border: 1px solid transparent;
}
#block-locale-language li.en a:before{
    background-image: url("../images/en_GB.png");
}

#block-locale-language li.mk a:before{
    background-image: url("../images/mk_MK.png");
}
#block-locale-language li.sq a:before{
    background-image: url("../images/sq.png");
}
#block-locale-language li.sr a:before{
    background-image: url("../images/sr.png");
}
#block-locale-language li.active a:before{

}
/**language end*/


/* slider */
.theme-default .nivoSlider{
    box-shadow: 0 1px 16px 0 gray;
    //max-height: 600px;
}
#zone-menu,
#region-menu{
    width: 100%;
}
#region-menu,
#region-user-second{
    margin: 0px;
}


.theme-default .nivo-directionNav a{
 background: url("../images/arrowleft.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    display: block;
    opacity: 0;
    text-indent: -9999px;
    transition: all 200ms ease-in-out 0s;
        height: 95px;
    width: 60px;
}
.theme-default .nivo-directionNav a.nivo-nextNav{
 background: url("../images/arrowright.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    display: block;
    opacity: 0;
    text-indent: -9999px;
    transition: all 200ms ease-in-out 0s;
    height: 95px;
    width: 60px;
}
.theme-default:hover .nivo-directionNav a.nivo-nextNav{
    opacity: 1;
}
/* slider end */

h1, h2, h3, h4, h5, h6,a, body{
    font-family: 'Dosis', sans-serif;
    //font-family: 'Roboto Condensed', sans-serif;
}


#section-content{
    margin-top: 10px;
}
#zone-preface-wrapper{
    color: #5C5C5C;
    margin-bottom: 10px;
}

#zone-preface-wrapper .block-title{
    text-transform: uppercase;
    color: #800100;
    margin-bottom: 2px;
    border-bottom: 1px dotted #800100;
    font-weight: 300;
}
.block-title{
    font-weight: 300;
}
/*news*/
.front .view-news .views-row{
    margin-bottom: 8px;
    margin-top: 4px;
}
.front .view-news .views-row p{
    margin-bottom: 0px;
}
.views-field-field-news-image{
    border: 1px solid #5C5C5C;
    display: inline;
    float: left;
    margin-right: 6px;
    width: 100px;
}

/*newsend*/

/*product*/
#block-views-products-block .view-content{
    min-height: 102px;
    margin-bottom: 2px;
    margin-top: 10px;
}
.front .view-products .views-row{
    margin-bottom: 4px;
    margin-top: 10px;
    min-height: 102px;
}
.front .views-field-field-product-image{
    border: 1px solid #5C5C5C;
    display: inline;
    float: left;
    margin-right: 6px;
    width: 100px;
}
.views-field-title a{
    font-size: 15px;
    text-decoration: none;
    color: #800100;
    font-weight: 300;
}
.front .zone-content-wrapper{
    display: none;
}

.not-front .view-products .views-row{
    float: left;
    height: auto;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-right: 6px;  
    width: calc(100% - 14px);
    border: 1px solid #800100;
    border-radius: 10px;
}
.not-front .view-products .views-row:hover{
    -webkit-box-shadow: 0px 0px 4px 1px rgba(128,1,0,1);
    -moz-box-shadow: 0px 0px 4px 1px rgba(128,1,0,1);
    box-shadow: 0px 0px 4px 1px rgba(128,1,0,1);
}

.not-front .view-products .views-row .views-field-title{
}
.not-front .view-products .views-row .views-field-body{
}
.not-front .view-products .views-row  .views-field-field-product-image{
   width: 45%;
   float:left;
   margin-right:8px;
}
.not-front .view-products .views-row img{
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;
}
.node-type-products #region-content #page-title{
   margin-bottom: 12px;
   padding-bottom: 4px;
   text-align: center;
   font-weight: 500;
}
.node-type-products #region-content .flippy {
    font-size: 52px;
    left: calc(50% - 180px);
    position: absolute;
    top: -25px;
    text-align: left !important;
}
.node-type-products #region-content .flippy .prev{
    margin-right: 240px;
}
/*product end*/

/* about us*/
.front .views-field-field-about-us-image{
    margin-bottom: 10px;
    margin-top: 8px;
}
.front .views-field-field-about-us-image img{
    height: auto;
    width: 100%;
}
/* about us end*/

/**/
#region-postscript-second,
#region-postscript-third{
    margin-top: 10px;
}
#zone-postscript-wrapper{
    background: none repeat scroll 0 0 #5C5C5C;
    margin-top: 0;
    padding-bottom: 2px;
    padding-top: 10px;
    color: white;
}
ul li.leaf {
    list-style-image: none;
    list-style-type: none;
}
#zone-postscript-wrapper a{
    color: white;
    text-decoration:none;
}
/**/

/* footer */
#zone-footer{
    width: 100%;
    text-align: center;
}
#region-footer-first{
    width: 100%;
    margin-left: 0px;
    marging-right: 0px;
    // background: none repeat scroll 0 0 #f2f2f2;
    padding-bottom: 0px;
    padding-top: 3px;
}
#region-footer-first p{
    margin-bottom: 4px;
    color: #5C5C5C
}
#zone-postscript-wrapper,
#zone-postscript-wrapper .menu li{
   text-align: center;
   margin-left: 0px;
}
/* footer end */

/* not front*/
.not-front #zone-menu-wrapper{
background: none repeat scroll 0 0 #800100;
}
.not-front #zone-menu-wrapper .content{
color: white;
    font-size: 26px;
}
.not-front #zone-menu-wrapper .content p{
    margin-bottom: 0;
}
.not-front #zone-menu
{
    margin: 0 auto;
    padding-bottom: 6px;
    padding-top: 4px;
    
}
.block-views-products-block{
	margin-top: 8px;
}
/* not front end */

.not-front img{
    height: auto;
    width: 100%;
}
.node-type-catalog img{
	height: auto;
    width: auto;
}
#field-name-field-about-us-image{
   margin-bottom: 16px;
}

#region-content #page-title{
    border-bottom: 1px solid #800100;
    color: #800100;
    font-size: 26px;
    font-weight: 300;
    height: auto;
    margin-bottom: 6px;
    padding-bottom: 0;
}

.translation-link{
    display: none !important;
}

#zone-content-wrapper{
   margin-bottom: 10px;
}

/*team*/
.page-management-team .views-row{
    min-height: 164px;
}
.page-management-team .views-field-field-vraboten-image,
.page-management-team .views-field-title,
.page-management-team .views-field-body{
      text-align: center;
}
.page-management-team #block-system-main img{
    border: 2px solid #eaeaea;
    margin: 5px 5px 5px 5px;
    height: 140px;
    width: auto;
}

.page-management-team .views-field-title{
    color: #800100;
    font-size: 17px;
    padding-top: 4px;
}
.page-management-team .views-view-grid{
   border-width: 0px;
}
.page-management-team .views-view-grid td{
    width: 50%;
    vertical-align: text-top;
}
tr:hover td, tr.even:hover td.active, tr.odd:hover td.active {
    background: none repeat scroll 0 0 white;
}
/*team end*/

/* google maps */ 
#block-block-17 iframe{
    width: 100% !important;
}
/* google maps end */

/* contact form */
.form-item input,
#edit-name{
   width: 100% !important;
}
.marker, .form-required {
    color: #800100;
}
/* contact form end */

.context-news #page-title,
.context-products #page-title,
.context-gallery #page-title,
.context-video #page-title,
.context-contact #page-title,
#node-gallery-30 .form-type-item,
#node-gallery-12 .form-type-item,
#node-gallery-30 .node-links
{
    display: none;
}
.node-type-news #page-title,
.node-type-products #page-title,
.node-type-video #page-title,
.node-type-contact #page-title{
    display: block;
}
.node-type-products .field-item{
    display: inline;
}
.node-type-products .field-name-field-gallery .field-item img{
    border: 1px solid #800100;
    padding: 1px;
    margin: 1px;
    width: 29%;
    width:calc(33.33% - 6px);
}
.node-type-products .field-name-field-gallery .field-item:first-child img{
    width: 100%;
width: calc(100% - 7px);
    margin: 1px 1px 3px
}
#zone-content-wrapper{
   min-height: 460px
}
.region-menu-inner{
    padding-left: 10px !important;
}
.front .region-menu-inner{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.front .region-menu-inner %block-views-about-us-block{
    padding-right: 10px !important;
}

.more-link{
   float: left;
}
.more-link а:link{
    color: #5c5c5c;
    text-decoration: none;
}
.more-link а:hover{
    color: #800100;
}
a:link {
    color: #5c5c5c;
    text-decoration: none;
}
a:link, a:hover, .front a:visited {
    color: #800100;
}
#block-menu-block-1 a:link,
#block-menu-block-1  a:visited{
    color: #5c5c5c;
}
#block-menu-block-1 a:hover,
#block-menu-block-1  a.active,
#block-system-main-menu a.active-trail{
    color: #800100;
}


/* video page */
.block-views-video-block-1{
   display: none;
}
.context-video iframe{
    height: auto;
    width: 100%;
}
/* video page end */


/* fb lika and share */
#block-block-20{/*
margin-right: 200px;
    display: none;
    height: 0px;
    padding-top: 0;
    text-align: right;*/
}

#block-block-20 .content{     
    margin-top: 6px;
}

/* fb lika and share end*/

/* gallery */
.page-gallery .view-gallery .views-row,
.node-type-gallery .field-item{
   float: left;
    height: auto;
    margin-right: 16px;
    width: calc(50% - 12px);
    margin-bottom: 10px;
}

.page-gallery .view-gallery i12g,
.page-gallery .views-field-field-cover-photo img,
.node-type-gallery .field-name-field-gallery-images img{
    width: 220px;
    border: 1px solid #800100;
    padding: 2px;
}
.node-type-gallery .field-item:nth-child(2n+2){
    margin-right: 0px;
}

.page-gallery .view-gallery img,
.node-type-gallery .field-name-field-gallery-images img{
    width: 100%;
}
.page-gallery .view-gallery img:hover,
.node-type-gallery .field-name-field-gallery-images img:hover{
    -webkit-box-shadow: 0px 0px 4px 1px rgba(128,1,0,1);
    -moz-box-shadow: 0px 0px 4px 1px rgba(128,1,0,1);
    box-shadow: 0px 0px 4px 1px rgba(128,1,0,1);
}

.page-gallery .view-gallery .views-field{
text-align: center;
}
.page-gallery .view-gallery .views-field-field-cover-photo{
    //height: 150px;
}
.node-type-gallery #page-title {
   display: block;
}

/*
.node-type-gallery #region-sidebar-first .content{
    //border-right: 1px dotted;
    color: #800100;
    font-size: 18px;
    height: 40px;
    margin-top: -16px;
}

.node-type-gallery #block-menu-block-1{
    margin-top: -10px;
}
#cboxTitle{
     margin-bottom: 16px !importannt;
}
/* gallery end*/


element.style {
    height: 22px !important;
}
.form-item input, #edit-name {
    width: 100% !important;
}
.form-item input, #edit-name {
    width: 100% !important;
}
input[type="text"]{
    border: 1px solid gray;
    height: 2.2em;
    outline: 0 none;
    padding: 4px 5px;
}
input:focus {
    background-color: rgba(128,1,0, 0.05);
} 
button:focus, button:active, input:focus, input:active, select:focus, select:active, textarea:focus, textarea:active {
    box-shadow: 0 0 7px #800100;
    border: 1px solid #800100;
    z-index: 1;
}
textarea {
    border: 1px solid gray;
    outline: 0 none;
    padding: 4px 5px;
    }
#block-social-media-links-social-media-links{
margin-top: 10px;
    text-align: center;
}
/* facebook page */
#block-block-23,
#block-block-20{
   display: none;
}
#block-block-24{
   display: block;
}
/* facebook page end*/

/* jobs page */
.context-jobs #region-content #page-title{
height: 30px !important;
font-size: 20px !important;
}
.submitted{
   display: none;
}
#webform-client-form-68 > div{

}
#webform-client-form-68 .webform-component--job-name,
#webform-client-form-68 .webform-component--job-lastname,
#webform-client-form-68 #edit-submitted-jobs-e-mail,
#webform-client-form-68 .webform-component--jobs-phone-number,
#webform-client-form-68  #edit-submitted-jobs-cv-ajax-wrapper{
   max-width: 500px;
}
#webform-client-form-68 > div > div{
 margin-bottom: 22px;
}
#webform-client-form-68 .form-type-checkbox .form-checkbox{
   width: 12px !important;
}

input#edit-submitted-jobs-cv-upload,
#edit-submitted-jobs-cv-upload,
#edit-submitted-job-cv-upload{
width: 50% !important;
}

#edit-submitted-jobs-cv-upload-button,
input#edit-submitted-jobs-cv-remove-button{
width: 80px !important;
}

#webform-client-form-68 img,
#edit-submitted-jobs-cv-upload .file-icon{
width: 24px !important;
}
/* jobs page end*/
.flippy a:link{
    color: #c18484 !important;
}
.flippy a{
    color: #800100 !important;
}
.block-social-media-links .horizontal li, .pane-social-media-link-widget .horizontal li {
    display: inline-block;
    padding: 0;
    text-align: center;
}