/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */
 

.not-front #zone-menu
{
    width: 940px;
}

/* video page */
.page-video .views-row{
    height: 200px;
    width: 253px;
}
.context-video iframe{
    height: 434px;
    width: 778px;
}
/* video page end */

/* facebook page */
#block-block-24,
#block-block-20{
   display: none;
}
#block-block-23{
   display: block;
}
/* facebook page end*/

#region-preface-first{
    margin-left: 0;
    margin-right: 20px;
}

#region-preface-third{
  margin-left: 20px;
  margin-right: 0;
}

/* gallery */
.page-gallery .view-gallery .views-row, 
.node-type-gallery .field-item {
    width: calc(25% - 14px);
}
.node-type-gallery .field-item:nth-child(2n+2){
    margin-right: 16px;
}
.node-type-gallery .field-item:nth-child(4n+4){
    margin-right: 0px;
}

.page-gallery .view-gallery img,
.node-type-gallery .field-name-field-gallery-images img{
    width: 100%;
}
/* gallery end */


/*product */
.not-front .view-products .views-row{
width: calc(33% - 20px);
}
.not-front .view-products .views-row:nth-child(2n+2){
    margin-right: 10px;
}

.not-front .view-products .views-row:nth-child(3n+3){
    margin-right: 0px;
}

/*product end*/

.page-products #region-content,
.node-type-news #region-content,
.page-news #region-content,
.page-gallery #region-content{
    width: 100% !important;
}

.flippy{
    padding-right: 0 !important;
    position: absolute;
    right: 0;
    text-align: right !important;
    top: 16px;
}
