/* This file will hold styles that are loaded using the same media query as the wide grid. 
#zone-branding{
max-width: 1000px;
}

#region-branding{
margin-left: 0;
    margin-right: 0;
    width: 1000px;
}

#zone-preface{
max-width: 1000px;
}

*/
 #page{
    /*margin: 0 auto;
    max-width: 1200px;
    margin-top: 8px;*/
 }
 .theme-default .nivoSlider {
    //box-shadow: 0 0 0 1px black;
}
#zone-postscript-wrapper{
   //border: 1px solid black;
}

.not-front #zone-menu
{
    width: 1200px;
}
#region-content{
   margin-left: 0;
    margin-right: 0;
}

#region-sidebar-first{
    margin-left: 0;
}

/* video page */
.page-video .views-row{
   height: 24px;
    margin: 0;
    text-align: center;
    width: 237px;
}
#block-views-video-block-1{
	display: none;
}
.page-video .views-row:nth-child(3n){
   margin-right: 10px;
}
.page-video .views-row:nth-child(4n){
   margin-right: 0px;
}
.context-video iframe{
     height: 550px;
    width: 980px;
}
/* video page end */

/* facebook page */
#block-block-24,
#block-block-23{
   display: none;
}
#block-block-20{
   display: block;
}
/* facebook page end*/
.container-12 .grid-10,
#region-content {
    //width: 1009px;
}


#block-menu-block-1 {
     min-height: 630px;
}