/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal 
 *  and widescreen CSS files as appropriate. */

#zone-branding-wrapper{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    margin-bottom: 0;
    margin-top: 0;
    width: 100%;
    z-index: 1000;
}

.not-front #zone-branding-wrapper{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.9);
}

.front #zone-branding-wrapper{
    position: absolute;
}

/* main manu */

#block-system-main-menu{
    display: inline-block;
    margin-top: 28px;
    margin-bottom: 0px;
    margin-right: 10px;
    width: auto;
    float: right;
    height: 60px;
}
#block-system-main-menu li{
   padding-top: 0px;
   height: 85px;
   margin-left: 0;
   padding-right: 0;
   margin-left: 3px;
}

#block-system-main-menu li a{
    color: white;
    display: block;
    height: 22px;
    padding: 3px 7px 1px 6px;
    border-radius: 6px;
}

#block-system-main-menu li a.active,
#block-system-main-menu li a:hover,
#block-system-main-menu a.active-trail{
   background: none repeat scroll 0 0 white;
   color: #800100;
//border-bottom: 1px solid;
}
.menu-block-wrapper .menu li{
   padding-top: 0px;
   margin-left: 4px;
   margin-top: 6px;
   margin-bottom: 6px;
   float: none;
}
.logo-img{
height: 85px;
}
/* main manu end*/

/* sub manu */
#block-menu-block-1{
   border-right: 1px dotted #800100;
   margin-top: 11px;
   min-height: 300px;
}
#block-menu-block-1 li a{
display: block;
}
/*
#block-menu-block-1 li:after{
content: ">";
width: 6px;
height: 6px;
}
*/
/* sub manu end*/
/**/
#region-postscript-second,
#region-postscript-third{
    margin-top: 0px;
}
/* */

/* footer menu */
#block-menu-menu-footer-menu li,
#block-menu-menu-partners li{
     display: inline-block;
}
/* footer menu end*/
/* footer */
    #zone-postscript-wrapper,
    #zone-postscript-wrapper .menu li{
   text-align: left;
}
/* footer end */

.not-front #zone-menu
{
    width: 700px;
}

/*product*/
#region-sidebar-first{
    margin-top: 30px;
}
.node-products .field-name-field-gallery,
.node-products .field-name-field-product-image{
display: inline-block;
    height: auto;
    width: 32%;
    float: left;
    //border: 1px solid #5c5c5c;
    margin-bottom: 10px;
    margin-top: 10px;
}
.node-products .field-name-body {
    display: inline-block;
    float: right;
    width: 66%;
    margin-bottom: 10px;
    margin-top: 10px;
    min-height: 600px;
}

.not-front .view-products .views-row{
width: calc(50% - 20px);
}
.not-front .view-products .views-row:nth-child(2n+2){
    margin-right: 0px;
}

/*product end*/

/*team*/
.page-management-team .views-field-field-vraboten-image,
.page-management-team .views-field-title,
.page-management-team .views-field-body{
      text-align: left;
}
.page-management-team  #block-system-main img{
    height: 142px;
    width: auto;
    margin: 5px 8px 5px 0px;
}
.page-management-team .views-field-field-vraboten-image{
   float: left;
}

/* team end*/

/* google maps */
#block-block-17{
float: right;
    text-align: right;
    width: 40%;
}

.page-contact .block-system-main{
width: 57%;
}

.form-actions input{
    background: none repeat scroll 0 0 transparent;
    padding: 10px 20px;
    color: #800100;
    border: 1px solid #800100;
text-shadow: 0px;
}
.form-actions input:hover{
    background: none repeat scroll 0 0 #800100;
    padding: 10px 20px;
    color: white;
    border: 1px solid #800100;text-shadow: 0px;
}
/* google maps end*/

.region-menu-inner{
padding-left: 0px !important;
}

/* page-video */
.page-video .views-row{
    float: left;
    height: 154px;
    margin-right: 10px;
    width: 186px;
}
.page-video .views-row:nth-child(3n){
   margin-right: 0px;
}
.page-video img{
   width: 100%;
}

.context-video iframe{
     height: 358px;
    width: 580px;
}

/*fixed footer */
html,
body {
    margin:0;
    padding:0;
    height:100%;
}

#page{
    min-height:100%;
    position:relative;
}
   
#section-content{
    padding:0px;
    padding-bottom:80px; /* Height of the footer element */
}

#zone-preface-wrapper,
#zone-content-wrapper{
    margin-bottom: 60px;
}

#zone-postscript-wrapper{
    margin-top:20px;
    width:100%;
    height:100px;
    position:absolute;
    bottom:20px;
    left:0;
}

footer{
   width:100%;
   height:20px;
   position:absolute;
   bottom:0;
   left:0;
}
/*fixed footer end */

/* facebook page */
#block-block-23,
#block-block-20{
   display: none;
}
#block-block-24{
   display: block;
}
/* facebook page end*/


/* temporary */
.i18n-sr #region-preface-first,
.i18n-sq #region-preface-first{
 width: 63% !important;
}